$brand-primary: '#4caf50' !default;
$brand-secondary: '#4caf50' !default;
$brand-tertiary: '#495057' !default;
$brand-accent: '#82B1FF' !default;
$brand-error: '#f55a4e' !default;
$brand-info: '#00d3ee' !default;
$brand-success: '#5cb860' !default;
$brand-warning: '#ffa21a' !default;